@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    /* font-family: "Poppins", sans-serif; */
}

body {
    background-color: black;
}

.main {
    background-image: url(/53/assets/header.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1945px, 100vw);
    height: 95vh;
    position: relative;
}

.main .box {
    height: 95vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    height: 60px;
    margin: auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: red;
    width: 148px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    color: white;
    height: calc(100% - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 0 25px;
}

.hero div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hero span:nth-child(1) {
    font-weight: bold;
    font-size: 58px;
    text-align: center;
    line-height: 6vh;
    margin-bottom: 10px;
}

.hero span:nth-child(2) {
    font-weight: lighter;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.hero span:nth-child(3) {
    font-weight: lighter;
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
}

.separation {
    height: 8px;
    background-color: gray;
    opacity: 50%;
}

.btn {
    font-size: 15px;
}

.btn-red {
    display: flex;
    align-items: center;
    background-color: red;
    color: white;
    padding: 8px 24px;
    font-size: 20px;
    border: solid red;
    border-radius: 5px;
}

.btn-red-sm {
    padding: 6px 12px;
    border: 1px solid red;
    border-radius: 3px;
    background-color: red;
    color: white;
}

.main input {
    padding: 12px 159px 12px 10px;
    font-size: 15px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    background-color: rgba(23, 23, 23, 0.2);
}

.lang {
    filter: invert(1);
    width: 15px;
    padding-right: 6px;
}

.btn-white {
    margin-right: 12px;
    padding: 6px 12px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    background-color: rgba(23, 23, 23, 0.2);
}

.arrow {
    filter: invert(1);
    width: 10px;
    padding-left: 10px;
}

.arroleft {
    width: 25px;
}