* {
    margin: 0;
    padding: 0;
}

.box {
    height: 500px;
    width: 80vw;
    padding: 3px;
    margin: 3px;
    border: 2px solid black;
}

.box1 {
    background-color: antiquewhite;
    /* position: absolute;
    top: 0px; */
    position: sticky;
    top: 0;
    height: 111px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.box2 {
    background-color: aqua;
    /* position: relative;
    top: 30px;
    left: 50px; */
}

.box3 {
    background-color: aquamarine;
    position: fixed;
    bottom: 0px;
    height: 111px;
}

.box4 {
    background-color: azure;
}

.parent {
    padding: 43px;
    margin: 34px;
    border: 2px solid purple;
    position: absolute;
}