* {
    padding: 0;
    margin: 0;
}

:root {
    --color: rgb(255, 0, 0);
    --seccolor: rgb(255, 163, 163);
}

.nav {
    background-color: var(--color);
    color: white;
}

ul {
    display: flex;
    list-style: none;
    margin-left: 15px;
}

ul li {
    margin: 2px 15px;
    padding: 5px;
}

ul li:hover {
    background-color: var(--seccolor);
    color: black;
}