* {
    padding: 0;
    margin: 0;
}

:root {
    --pri-color: rgb(100, 141, 255);
    --sec-color: rgb(196, 211, 253);
}

body {
    background-color: var(--sec-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    background-color: var(--pri-color);
    padding: 12px 0;
}

ul li {
    list-style: none;
    display: inline;
    padding: 25px;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li:hover {
    background-color: var(--sec-color);
    color: black;
}