body {
    background-color: red;
}

@media screen and (orientation: landscape) {
    body {
        border: 3px solid palevioletred;
    }
}

@media only screen and (max-width: 455px) {
    body {
        background-color: yellow;
    }

    .boxes {
        flex-direction: column;
    }
}

.boxes {
    display: flex;
}

.box {
    height: 350px;
    width: 350px;
    background-color: steelblue;
    padding: 5px;
    margin: 5px;
}