* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
}

header {
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: space-between;
    height: 56px;
    align-items: center;
}

.left {
    width: 25vw;
    height: 100vh;
    background-color: rgb(17, 17, 17);
    margin: 0 3px 0 8px;
}

.right {
    width: 75vw;
    height: 100vh;
    background-color: rgb(17, 17, 17);
    margin: 0 8px 0 3px;
}